<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>28952 template preview</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
<link href="/static/css/layout.css" rel="stylesheet" type="text/css" />
<script src="js/jquery-1.4.2.min.js" type="text/javascript"></script>
<script src="js/jqFancyTransitions.1.7.min.js" type="text/javascript"></script>
<script src="js/tabs.js" type="text/javascript"></script>
<script type="text/javascript">
	$(function(){
		$('#slider').jqFancyTransitions({
			effect: 'curtain', // wave, zipper, curtain
			width: 642, // width of panel
			height: 414, // height of panel
			strips: 10, // number of strips
			delay: 5000, // delay between images in ms
			stripDelay: 50, // delay beetwen strips in ms
			position: 'alternate', // top, bottom, alternate, curtain
			direction: 'fountainAlternate', // left, right, alternate, random, fountain, fountainAlternate
			navigation: false, // prev and next navigation buttons
			links: false // show images as links
		});
	})
</script>	
<!--[if lt IE 7]>
	<link href="ie_style.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>

<body id="page1">
  <div id="main">
    <!-- header -->
    <div id="header">
      <div class="row-1">
      	<div class="logo">
        	<h1><a href="#">智为天下研发中心一体化集成平台</a></h1>
        </div>
{#        <form action="" id="search-form">#}
{#          <fieldset>#}
{#          	<input type="text" class="text" value="search" onfocus="if(this.value=='search'){this.value=''}" onblur="if(this.value==''){this.value='search'}"/><input type="submit" class="submit" value=""/>#}
{#          </fieldset>#}
{#        </form>#}
      </div>
      <div class="row-2">
      	<!-- .nav -->
      	<ul class="nav">
        	<li button onclick = "window.location.href = '../login' " class="first"><a href="#" >首页</a></li>
          <li><a button onclick = "window.location.href = '../index1' " href="#">测试IP资源</a></li>
{#            <input type="button" onclick='location.href=("index.aspx")' />//在本页面打开#}
          <li><a button onclick = "window.location.href = '../index2' " href="#">禅道&jenkins资源</a></li>
          <li><a button onclick = "window.location.href = '../index3' " href="#">数据库&重要账号资源</a></li>

          <li><a button onclick = "window.location.href = '../index4' " href="#">其他资源</a></li>
{#          <li class="last"><a href="#">Contact info</a></li>#}
        </ul>
      	<!-- /.nav -->
      </div>
    </div>
      <p></p>
    <!-- content -->
{#    <div id="content">#}
{#    	<!-- .main-box -->#}
{#    	<div class="main-box">#}
{#      	<!-- .slider -->#}
{#      	<div id="slider">#}
{#        	<img src="images/slide1.jpg" alt="" />#}
{#          <img src="images/slide2.jpg" alt="" />#}
{#          <img src="images/slide3.jpg" alt="" />#}
{#        </div>#}
      	<!-- /.slider -->
        <!-- .tabs-box -->
{#        <div class="tabs-box">#}
{#        	<ul class="tabs">#}
{#          	<li><a href="#tab1">news</a></li>#}
{#            <li><a href="#tab2">articles</a></li>#}
{#            <li class="last-item"><a href="#tab3" class="last">issues</a></li>#}
{#          </ul>#}
{#          <div class="tab_container">#}
{#          	<div id="tab1" class="tab_content">#}
{#              <h2>Mixed grain movement trend keeps basic levels relatively stable</h2>#}
{#              <a href="#">Read More</a>#}
{#            </div>#}
{#            <div id="tab2" class="tab_content">#}
{#           	  <h2>Markets/Weather: April's second-half cooler than first</h2>#}
{#              <a href="#">Read More</a>#}
{#            </div>#}
{#            <div id="tab3" class="tab_content">#}
{#            	<h2>CME Group soybean prices explode to the upside</h2>#}
{#              <a href="#">Read More</a>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#        <!-- /.tabs-box -->#}
{#      </div>#}
    	<!-- /.main-box -->
      <div class="indent">
        <div class="wrapper">
          <div class="col-1">
            <h3 >开问测试环境IP</h3>
            <ul class="news">
            	<li>
                    <h4><a button onclick = "href = 'https://open.openwhy.net/login' "  target="_blank"  href="#"><font size="3">开问线上中心(测试环境)：https://open.openwhy.net/login</font></a></h4>
                    <h5 style="color: #606060;font-weight: bolder;font-size: 14px">测试账号：13717888314 &nbsp; 密码：1q2w3e4r5t6y</h5>

{#                    <div id="img-container">#}
{#                      <img  src="../static/images/dl.png" width="500" />#}
{#                      <img src="../static/images/gk.png" width="500" />#}
{##}
{#                    </div>#}
{#                    <div id="gallery">#}
{#                      <div class="box">#}
{#                      <img  src="../static/images/dl.png" width="500" />#}
{#                    </div>#}
{#                       <div class="box box-lit">#}
{#                       <img src="../static/images/gk.png" width="500" />#}
{#                    </div>#}
{#                  </div>#}
                    <table>
                        <tr><td><img  src="../static/images/dl.png" width="400" /></td>
                            <td><img src="../static/images/gk.png" width="500" /></td></tr>
                    </table>
                    <p></p>


                    <h4><a button onclick = "href = 'https://openwhy.net/' "  target="_blank"  href="#"><font size="3">开问网(测试环境)：https://openwhy.net/</font></a></h4>
                    <h5 style="color: #606060;font-weight: bolder;font-size: 14px">测试账号：个人自主注册</h5>
                    <table>
                        <tr><td><img  src="../static/images/kww1.png" width="400" /></td>
{#                            <td><img src="../static/images/kwxs2.png" width="500" /></td>#}
                        </tr>
                    </table>

                    <h4 style="margin-top: 30px"><a button onclick = "href = 'http://openwhy.net:9080/login' " target="_blank"   href="#"><font size="3">开问CMS后台管理系统(测试和线上数据库通用)：http://openwhy.net:9080/login</font></a></h4>
                     <h5 style="color: #606060;font-weight: bolder;font-size: 14px">测试账号：admin &nbsp; 密码：123456</h5>
                     <table>
                        <tr><td><img  src="../static/images/kww1.png" width="400" /></td>
{#                            <td><img src="../static/images/kwxs2.png" width="500" /></td>#}
                        </tr>
                     </table>






               <h3 style="margin-top: 20px">开问线上环境IP</h3>


                    <h4><a button onclick = "href = 'https://open.openwhy.cn/' "  target="_blank" href="#"><font size="3">开问线上中心(线上环境)：https://open.openwhy.cn/</font></a></h4>
                    <h5 style="color: #606060;font-weight: bolder;font-size: 14px">线上账号：13717888314 &nbsp; 密码：123456</h5>
                    <table>
                        <tr><td><img  src="../static/images/kwxs1.png" width="400" /></td>
                            <td><img src="../static/images/kwxs2.png" width="500" /></td></tr>
                    </table>
                    <p></p>


                    <h4><a button onclick = "href = 'https://www.openwhy.cn/' "  target="_blank"  href="#"><font size="3">开问网(线上环境)：https://www.openwhy.cn/</font></a></h4>
                    <h5 style="color: #606060;font-weight: bolder;font-size: 14px">线上账号：个人自主注册</h5>
                    <table>
                        <tr><td><img  src="../static/images/kwwxs.png" width="400" /></td>
{#                            <td><img src="../static/images/kwxs2.png" width="500" /></td>#}
                        </tr>
                    </table>

                    <h4 style="margin-top: 40px"><a button onclick = "href = 'https://kwone.cn/login' "  target="_blank"  href="#"><font size="3">私有化线上中心(线上环境)：https://kwone.cn/login/</font></a></h4>
                    <h5 style="color: #606060;font-weight: bolder;font-size: 14px">线上测试账号：个人自主注册</h5>
                    <table>
                        <tr><td><img  src="../static/images/syh1.png" width="400" /></td>
                            <td><img src="../static/images/syh2.png" width="500" /></td>
                        </tr>
                    </table>



          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- footer -->
  <div id="footer">
  	<div class="container">
    	<!-- .nav -->
    	<ul class="nav">
      	<li><a href="#">home</a>|</li>
        <li><a href="#">services</a>|</li>
        <li><a href="#">products</a>|</li>
        <li><a href="#">features</a>|</li>
        <li><a href="#">orders form</a>|</li>
        <li><a href="#">our equipment</a>|</li>
        <li><a href="#">contact info</a></li>
      </ul>
    	<!-- /.nav -->
      <span>智为天下研发中心一体化集成平台</span> &nbsp;&copy; &nbsp;2023. &nbsp; &nbsp;<a href="#">Privacy Policy</a>
    </div>
  </div>
  <script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-7078796-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
