<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>28952 template preview</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
<link href="/static/css/layout.css" rel="stylesheet" type="text/css" />
<script src="js/jquery-1.4.2.min.js" type="text/javascript"></script>
<script src="js/jqFancyTransitions.1.7.min.js" type="text/javascript"></script>
<script src="js/tabs.js" type="text/javascript"></script>
<script type="text/javascript">
	$(function(){
		$('#slider').jqFancyTransitions({
			effect: 'curtain', // wave, zipper, curtain
			width: 642, // width of panel
			height: 414, // height of panel
			strips: 10, // number of strips
			delay: 5000, // delay between images in ms
			stripDelay: 50, // delay beetwen strips in ms
			position: 'alternate', // top, bottom, alternate, curtain
			direction: 'fountainAlternate', // left, right, alternate, random, fountain, fountainAlternate
			navigation: false, // prev and next navigation buttons
			links: false // show images as links
		});
	})
</script>	
<!--[if lt IE 7]>
	<link href="ie_style.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>

<body id="page1">
  <div id="main">
    <!-- header -->
    <div id="header">
      <div class="row-1">
      	<div class="logo">
        	<h1><a href="#">智为天下研发中心一体化集成平台</a></h1>
        </div>
{#        <form action="" id="search-form">#}
{#          <fieldset>#}
{#          	<input type="text" class="text" value="search" onfocus="if(this.value=='search'){this.value=''}" onblur="if(this.value==''){this.value='search'}"/><input type="submit" class="submit" value=""/>#}
{#          </fieldset>#}
{#        </form>#}
      </div>
      <div class="row-2">
      	<!-- .nav -->
      	<ul class="nav">
        	<li button onclick = "window.location.href = '../login' " class="first"><a href="#" >首页</a></li>
          <li><a button onclick = "window.location.href = '../index1' " href="#">测试IP资源</a></li>
{#        <input type="button" onclick='location.href=("index.aspx")' />//在本页面打开#}
          <li><a button onclick = "window.location.href = '../index2' " href="#">禅道&jenkins资源</a></li>
          <li><a button onclick = "window.location.href = '../index3' " href="#">数据库&重要账号资源</a></li>

          <li><a button onclick = "window.location.href = '../index4' " href="#">其他资源</a></li>

        </ul>
      	<!-- /.nav -->
      </div>
    </div>
      <p></p>
      <div class="indent">
        <div class="wrapper">
          <div class="col-1">
            <h3 >测试数据库OPENY</h3>
            <ul class="news">
            	<li>
                    <h4><a href="#"><font size="3">81.69.195.135:7709</font></a></h4>
                    <h5 style="color: #606060;font-weight: bolder;font-size: 14px">账号：zwtx &nbsp; 密码：teb#Fn8y-3p</h5>
                    <table>
                        <tr><td><img  src="../static/images/sqltp1.png" width="650" /></td>
                            </tr>
                    </table>
                <h4 style="color: #cc0000;margin-bottom: 5px;margin-top: 15px">业务相关SQL：</h4>
                    <h5 style="color: #0b0b0b;font-weight: bolder;">#活动创建-->>设置报名环节-->>开启短信通知和邮箱通知：</h5>
                    <h5 style="color: #606060;font-weight: bolder;">select id,actid,enterOfflineSignOpen 线下签到开关,enterSmsNotifyOpen 短信开关,enterEmailNotifyOpen 邮件开关 from activity_rule
where actid='1675763415884050432';</h5>
                    <h5 style="color: #0b0b0b;font-weight: bolder;">#设置场景签到过期时间和图片：</h5>
                    <h5 style="color: #606060;font-weight: bolder;">UPDATE activity_offline_scene SET imageUrl='https://r.openwhy.cn/laqnfh-6.png' WHERE actId = '1675763415884050432' ;</h5>
                    <h5 style="color: #606060;font-weight: bolder;">UPDATE activity_offline_scene SET startTime = '2023-07-01 09:47:10', endTime = '2023-07-02 16:47:08' , imageUrl='https://r.openwhy.cn/laqnfh-6.png'  WHERE id = '1675763416337035265'; </h5>

                    <h3 style="margin-top: 30px;margin-bottom: 20px">小程序APPID</h3>
                    <table>
                        <tr>
                            <td style="width: 300px">
                              <h4>绿洲互联：wx1ab1874d18d51f37</h4>
                              <h4>青稞读书：wx859f55411aad9f43</h4>
                              <h4>行之青年：wxb968b50ecd6d9a8b</h4>
                              <h4>四季新媒体：wx692a018a5f0cc11e</h4>
                           </td>

                           <td>
                              <h4>开问示例之协会：wxa1ce4279719c12c1</h4>
                              <h4>开问体验版：wx2b24987dd59d6504</h4>
                              <h4>马小程：wxace3b94e39480002</h4>
                              <h4>开问之家：wx151d13ba056f77c7</h4>

                           </td>
                        </tr>
                    </table>

                    <h3 style="margin-top: 30px;margin-bottom: 20px">APP安装包地址</h3>
                              <h4>开问APP：Android：https://hey.scandown.com/androidOpenwhy  &nbsp; IOS：https://hey.scandown.com/iosOpenwhy</h4>
                              <h4>CMSAPP：Android：http://hey.scandown.com/AndroidCMS  &nbsp; IOS：http://hey.scandown.com/iOSCMS</h4>
                              <h4>助手APP：Android：https://hey.scandown.com/iOSAssistant  &nbsp; IOS：https://hey.scandown.com/androidAssistant</h4>




                <h3 style="margin-top: 30px;margin-bottom: 20px">商户号配置信息</h3>
                    <h4>开问助手：</h4>
                    <h4>公众号appid：wx92ebdc4c8af5274b</h4>
                    <h4>公众号secret：f488000c42c3e227afede415b83cf440</h4>
                    <h4>商户id：1517583841</h4>
                    <h4>商户秘钥：IuaOmc3h7NLdamef1P7DI0k14QMYlBkW</h4>
                    <h4>公众号APPID:wx34dd6e45b35ed5b6</h4>
                    <h4>公众号secret：1554135139406c6d661ed6ec2ec487c3</h4>
                    <h4>商户id：1517591851</h4>
                    <h4>商户秘钥： g8cKgaSD3TrH1oCtYbuHxhyjS0YbEZp</h4>
                     <h4>苹果沙盒环境账号：openwhytest3@163.com，  openwhyTest3</h4>


        </div>
      </div>
    </div>
  </div>
  <!-- footer -->
  <div id="footer">
  	<div class="container">
    	<!-- .nav -->
    	<ul class="nav">
      	<li><a href="#">home</a>|</li>
        <li><a href="#">services</a>|</li>
        <li><a href="#">products</a>|</li>
        <li><a href="#">features</a>|</li>
        <li><a href="#">orders form</a>|</li>
        <li><a href="#">our equipment</a>|</li>
        <li><a href="#">contact info</a></li>
      </ul>
    	<!-- /.nav -->
      <span>智为天下研发中心一体化集成平台</span> &nbsp;&copy; &nbsp;2023. &nbsp; &nbsp;<a href="#">Privacy Policy</a>
    </div>
  </div>
  <script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-7078796-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
